<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template1" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>index</title>

</head>
<body>

<div layout:fragment="content1">
    <div
            class="bg-image"
            style="
    background-image: url('https://www.malakoffhumanis.com/sites/smile/files/styles/editorial_page_top_image_desktop/public/images/2020-121-mh-photo-differences-hopital-public-clinique-privee-as-54048895-1024x577.jpg?itok=oVClgsdL');
    height: 100vh;
  "
    ></div>

</div>
</body>
</html>